<script>
	$(function() {
		$('#login').click(function() {
			window.location = window.location.protocol + "//" + window.location.host + "/home"
		})
	})
</script>

<div class="container">
	<h1>Login</h1>
	<br />
	<input type="text" placeholder="Username" />
	<br />
	<input type="password" placeholder="Password" />
	<br />
	<button id="login" value="Login">Login</button>
</div>