<script>
	$(function() {
		$('#login').click(function() {
			window.location = window.location.protocol + "//" + window.location.host + "/thisWeek"
		})
	})
</script>
<div class="container">
	<h1>Welcome <strong>Austin</strong>!</h1>
	<h3>Why don't you work on this week's spelling words?</h3>
	<button class="btn btn-lg">CLICK ME</button>
</div>